// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// p,
// small {
//   margin: 0;
//   padding: 0;
// }

// a:hover {
//   text-decoration: none;
// }

// .header__logo {
//   height: 40px;
// }

// .nav-link {
//   color: #000;
// }

// .navbar-toggler-icon {
//   display: inline-block;
//   justify-content: center;
//   align-items: center;
// }

// .selected {
//   border-bottom: 2px solid #00aa00;
// }

///////////////////////////////////////////

$textColor: #ffffff !important;
$linkColor: #000000;
$buttonBgColor: #275a53 !important;
$footerTextColor: #bcccc9 !important;
$font-weight: 700;
$newHeadingColor: #16322e;

//extend in scss
%button-shared {
  background-color: $buttonBgColor;
  color: $textColor;
}
%background-image-shared {
  background-image: url("./components/resources/images/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  // height: 70vh;
  height: 350px;
  background-size: cover;
}

//header part;
.header {
  .header__logo {
    height: 40px !important;
  }
  background-color: $textColor;
  .navbar-toggler-icon {
    @extend %background-image-shared;
    background-image: url("./components/resources/logos/navbarIcon.png");
    height: 100%;
  }
  .nav-link {
    color: $linkColor;
    font-weight: $font-weight;
  }
  .loginBtn {
    button {
      @extend %button-shared;
    }
    .nav-link {
      @extend %button-shared;
    }
  }

  .row {
    padding: 10px 0;
  }
}

//banner part;
.section {
  .banner-bg {
    @extend %background-image-shared;
    .banner-bg-black {
      background-color: rgba(0, 0, 0, 0.431);
      height: 100%;
      .banner-main {
        padding-top: 60px;
      }
      h1 {
        color: $textColor;
      }
      form {
        input {
          width: 400px !important;
        }
      }
      button {
        @extend %button-shared;
      }
    }
    .banner-footer {
      p {
        color: $buttonBgColor;
      }
      h5 {
        color: $linkColor;
      }
    }
  }
}

//footer part;
.footer {
  .footer-bg {
    background-color: $buttonBgColor;
    box-sizing: border-box;
    h4 {
      color: $footerTextColor;
    }
    p {
      color: $footerTextColor;
    }
    img {
      height: 20px;
      margin-top: 4px;
    }
    .socialIcon {
      img {
        margin-right: 10px;
      }
    }
  }
}

//single service;
.singleService {
  .card {
    border: none !important;
    img {
      width: 80px;
      height: 80px;
      margin: auto;
    }
    .card-title{
      color: $newHeadingColor;
      font-weight: $font-weight;
    }
    .card-text{
      color: #606268;
    }
  }
}

//bookingAppartment;

.bookingAppartment {
  .card {
    .bedImg {
      width: 30px;
    }
    .bathImg {
      width: 30px;
    }
    .price {
      font-weight: $font-weight;
      color: $buttonBgColor;
    }
    border: none !important;
    .card-body {
      .card-title {
        color: $buttonBgColor;
        font-weight: $font-weight;
        .card-text {
          .locationImg {
            width: 20px;
          }
        }
      }
    }
    .card-footer {
      border: none !important;
      h6 {
        font-weight: $font-weight;
        margin-top: 7px;
      }
      button {
        @extend %button-shared;
      }
    }
  }
}

//house details;
.houseDetails {
  .price {
    p {
      margin: 0;
    }
  }
  .property {
    p {
      margin: 0;
    }
  }
  .title {
    h4 {
      color: $newHeadingColor;
      font-weight: $font-weight;
      font-size: 30px;
    }
  }
  .submitForm {
    button {
      @extend %button-shared;
      width: 100%;
      // margin: auto;
    }
  }
}

//banner FooterTextColor
.bannerFooter {
  p {
    color: $buttonBgColor;
  }
  h3 {
    color: $newHeadingColor;
    font-weight: $font-weight;
  }
}

.service {
  .services {
    p {
      color: $buttonBgColor;
    }
    h3 {
      color: $newHeadingColor;
      font-weight: $font-weight;
    }
  }
}
