* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
small {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.header__logo {
  height: 40px;
}

.nav-link {
  color: #000;
}

.navbar-toggler-icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.selected {
  border-bottom: 2px solid #00aa00;
}
